
form.jqtransformdone div.rowElem{
	clear:both;
	padding:4px 0px;
}

/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 100%!important;
	position:relative;
	height: 46px;
	background: #FFFFFF;
	float:left;
	border-radius:4px;
	text-align:left;
}

.jqTransformSelectWrapper div span {
	
	font-size: 17px;
	float: none;
	position: absolute;
	left:0;
	right:0;
	width:100%!IMPORTANT;
	white-space: nowrap;
	height: 46px;
	line-height: 46px;
	padding: 0 15px;
	overflow: hidden;
	cursor:pointer;
	color:#999999;
	/*border: 1px solid #CCCCCC;*/
/*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 46px;
	height: 46px;
	background: url(select-arrow.png) no-repeat center center;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 100%!important;
	top: 50px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 200px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
		border-radius:4px;

}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px 15px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size: 16px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #1A8A48;
	color: #FFFFFF;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#177A9B;
	color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}




/* -------------
* Checkboxes
* ------------- */
span.jqTransformCheckboxWrapper {
  margin-top: 5px;
}

a.jqTransformCheckbox {
  vertical-align: middle;
 background: #eeeeee;
    border: 1px solid #aeaeae;
    border-radius: 2px;
	width:15px;
	height:15px;
	margin-right:8px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  position:relative;
  display: inline-block; /* see http://www.quirksmode.org/css/display.html */
}


a.jqTransformChecked:after {
	 content:"\f00c";
	display:inline-block;
	vertical-align:baseline;
	font-weight:normal;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-family:FontAwesome;
	margin:0 0px;
	color:#C12026;
	position:absolute;
	left:1px;
	top:-7px;
	font-size:18px;
}


/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked {
  background-position: center bottom;
}
