* {box-sizing:border-box}
body {
	font-family: 'Roboto';
}
.body-color{
	background-color: #dcdcdc;
}
/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
  border-style: solid;
  border-width: 2px;
}
@media (max-width:1280px) {
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
	}
}
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.current_slide {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 1px;
  width: 100%;
  text-align: center;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.5em;
  color: black;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: left;
  background-color: rgba(0,0,0,0.3);
}
@media (max-width:1280px) {
	.text {
		color: #f2f2f2;
		font-size: .5em;
		font-style: bold;
		color: black;
		padding: 8px 12px;
		position: absolute;
		bottom: 15px;
		width: 100%;
		text-align: left;
	}
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
@media (max-width:1280px) {
	.dot {
		cursor:pointer;
		height: 8px;
		width: 8px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
}	
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
.content{
	max-width:80%;
	
	margin:5px auto;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	overflow:auto;
}
@media (max-width:1280px) {
.content{
	max-width:100%;
	}
}
.paragraph{
	max-width:70%;
	margin: 50px auto;
	font-size: 1.3em;
}
@media (max-width:1280px){
.paragraph{
	font-size: 1em;
	max-width:85%;
}
}
@media screen and (max-width:1280px) {
#image1{
	content: url("Images/beach_photo_2.jpg");
	width:100%;
	}
}
@media screen and (max-width:1280px) {
#image2{
	content: url("Images/hotel_photo_2.jpg");
	width:100%;
	}
}
@media screen and (max-width:1280px) {
#image3{
	content: url("Images/Infinity_logo_1.jpg");
	width:100%;
	}
}
@media screen and (min-width:1281px) {
#image1{
	content: url("Images/beach_photo.jpg");
	width:100%;
	}
}
@media screen and (min-width:1281px) {
#image2{
	content: url("Images/hotel_photo.jpg");
	width:100%;
	}
}
@media screen and (min-width:1281px) {
#image3{
	content: url("Images/Infinity_logo_2.jpg");
	width:100%;
	}
}
.column{
	float: left;
	width: 32%;
	padding: 5px;

}
@media (max-width:1280px){
.column{
	width:100%;
	}
}
.vl{
	border-style: solid;
	border-width: 1px;
	height: 250px;
	width: 1px;
	float: right;
	border-color: rgba(0,0,0,0.3)
}
.hl{
	border-style: solid;
	border-width: 1px;
	width: 80%;
	height: 1px;
	margin: auto;
	border-color: rgba(0,0,0,0.3)
}
.container{
	max-width: 70%;
	margin:auto;
}
.footer{
	text-align:center;
	float:bottom;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
